<div id="<%= dom_id apprenticeship %>">
  <p>
    <strong>Employer:</strong>
    <%= apprenticeship.employer_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= apprenticeship.title %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= apprenticeship.summary %>
  </p>

  <p>
    <strong>Location status:</strong>
    <%= apprenticeship.location_status %>
  </p>

  <p>
    <strong>Skills required:</strong>
    <%= apprenticeship.skills_required %>
  </p>

  <p>
    <strong>Qualifications:</strong>
    <%= apprenticeship.qualifications %>
  </p>

  <p>
    <strong>Holland code preference:</strong>
    <%= apprenticeship.holland_code_preference %>
  </p>

  <p>
    <strong>Compensation:</strong>
    <%= apprenticeship.compensation %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= apprenticeship.duration %>
  </p>

  <p>
    <strong>Positions available:</strong>
    <%= apprenticeship.positions_available %>
  </p>

  <p>
    <strong>National recognition:</strong>
    <%= apprenticeship.national_recognition %>
  </p>

</div>
