<%= form_with(model: apprenticeship) do |form| %>
  <% if apprenticeship.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(apprenticeship.errors.count, "error") %> prohibited this apprenticeship from being saved:</h2>

      <ul>
        <% apprenticeship.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :employer_id, style: "display: block" %>
    <%= form.number_field :employer_id %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :summary, style: "display: block" %>
    <%= form.text_field :summary %>
  </div>

  <div>
    <%= form.label :location_status, style: "display: block" %>
    <%= form.text_field :location_status %>
  </div>

  <div>
    <%= form.label :skills_required, style: "display: block" %>
    <%= form.text_field :skills_required %>
  </div>

  <div>
    <%= form.label :qualifications, style: "display: block" %>
    <%= form.text_field :qualifications %>
  </div>

  <div>
    <%= form.label :holland_code_preference, style: "display: block" %>
    <%= form.text_field :holland_code_preference %>
  </div>

  <div>
    <%= form.label :compensation, style: "display: block" %>
    <%= form.text_field :compensation %>
  </div>

  <div>
    <%= form.label :duration, style: "display: block" %>
    <%= form.text_field :duration %>
  </div>

  <div>
    <%= form.label :positions_available, style: "display: block" %>
    <%= form.number_field :positions_available %>
  </div>

  <div>
    <%= form.label :national_recognition, style: "display: block" %>
    <%= form.text_field :national_recognition %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
